@import "config";
@import "menu";

* {
  box-sizing: border-box;
}

body {
  @include background();
  //   color: red;
  height: 100%;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

// headings
h1,
h2,
h3 {
  margin: 0;
  font-weight: 500;
  color: #fff;

  &.lg-heading {
    font-size: 5rem;
  }

  &.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: regba(lighten($color: $primary-color, $amount: 2), 0.5);
  }
}

a {
  text-decoration: none;
  color: $secondary-color;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.text-secondary {
  color: $secondary-color;
}

main {
  padding: 4rem;
  //   height: 100%;
  min-height: calc(100vh - 60px);

  .icons {
    margin-top: 1rem;

    a {
      padding: 0.4rem;

      &:hover {
        color: $secondary-color;
        @include ease-out();
      }
    }
  }

  &#home {
    overflow: hidden;

    h1 {
      margin-top: 20vh;
    }
  }
}

.about {
  background: #c3c3c3;
}

.about-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas:
    "bioimage bio bio"
    "job1 job2 job3";
  grid-template-columns: repeat(2, 1fr);

  .bio-image {
    grid-area: bioimage;
    margin: auto;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    border: $secondary-color 3px solid;
  }

  .bio {
    grid-area: bio;
    font-size: 1.3rem;
  }

  .job-1 {
    grid-area: job1;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  }

  .job-2 {
    grid-area: job2;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  }

  .job {
    background: lighten($primary-color, 5);
    padding: 0.5rem;
    border-bottom: $secondary-color 5px solid;
  }
}

#main-footer {
  text-align: center;
  padding: 1rem;
  background: darken($color: $primary-color, $amount: 10);
  height: 60px;
  color: $secondary-color;
}

@import "mobile";
